body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
.header-search-bar img {
    height: 40px;
}
.header-nav-menu img {
    height: 25px;
}
/* Bottom Navigation Bar */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    flex-grow: 1;
}

.nav-item img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.nav-label {
    font-size: 12px;
    color: gray;
}

.nav-label.active {
    color: red;
}