/* Variables */
:root {
    /* Color Variables */
    --bg-main: #fff;
    --txt-main: #000;
    --txt-second: #222;
    --txt-third: #6a6a6a;
    --lineBrk: #ddd;

    /* Size Variables */
    --fontSize-S: 0.75rem;
    --fontSize-M: 0.875rem;
    --fontLine-S: 1rem;
    --fontLine-M: 1.25rem;
    --fontWeight-S: 400;
    --fontWeight-M: 600;
}

/* General Home Page Settings */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--fontSize-M);
    line-height: var(--fontLine-M);
    max-width: 100%; /* Ensure it uses full width on mobile */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    gap: 5px;
}

/* Navigation Bar */
.header {
    padding: 14px 24px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--bg-main);
}

/* Navigation Search Box */
.header_search {
    margin: 0 auto;
    max-width: 100%; /* Ensure it uses full width on mobile */
}

.header_search_button {
    border-radius: 1000px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #f2f2f2;
    height: 56px;
    width: 100%;
    padding: 0 16px;
}

.header_search_textbox {
    display: inline-block;
    padding-left: 2px;
}

.header_search_textmain {
    color: var(--txt-second);
    font-size: var(--fontSize-M);
    font-weight: var(--fontWeight-M);
    line-height: var(--fontLine-M);
    display: block;
}

.header_search_textsecond {
    color: var(--txt-third);
    font-size: var(--fontSize-S);
    font-weight: var(--fontWeight-S);
    line-height: var(--fontLine-S);
}

.header_search_icon {
    height: 20px;
    width: 20px;
    color: var(--txt-second);
}

/* Custom font class for Nunito Sans with variable styles */
.nunito-sans-custom {
    font-family: 'Nunito Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Default weight */
    font-style: normal;
    font-variation-settings:
        "opsz" 12, /* Optical size */
        "wght" 400; /* Weight */
}

/* Responsive Styles for Mobile */
@media (max-width: 414px) {
    .header {
        padding: 10px 20px;
    }

    .header_search_button {
        padding: 0 12px;
    }

    .header_search_textmain {
        font-size: var(--fontSize-S);
    }

    .header_search_textsecond {
        font-size: var(--fontSize-S);
    }

    .header_search_icon {
        height: 16px;
        width: 16px;
    }
}
